body {
  color: white;
  text-align: center;
  height: 100%;
  width: auto;
  margin:0px;
}
header {
  background-image: url(img/ciudad.jpg);
  background-position: center;
  height: 100px;
  width: 100%;
  margin-top: -27px;
}
.tarjeta {
  height: auto;
  width: auto;
  box-shadow: 10px 5px 5px rgb(134, 134, 134);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    149deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 20px;
  position: relative;
  padding: 0% 2% 2% 2%;
  display: inline-block;
  margin: 0px 10px 0px 10px;
}
.tarjeta:hover {
  box-shadow: 10px 5px 5px black;
}
.form {
  height: auto;
  width: 30%;
  background: rgb(7, 85, 1);
  background: linear-gradient(
    149deg,
    rgba(7, 85, 1, 1) 0%,
    rgba(21, 121, 9, 1) 35%,
    rgba(0, 255, 218, 1) 100%
  );
  border-radius: 10px;
  border-color: lightcoral;
  border-style: solid;
  position: relative;
  padding: 2% 0% 2% 0%;
  margin: auto;
}
.img {
  height: 100px;
}
p {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 3ex;
}
li {
  color: rgb(255, 255, 255);
  text-align: left;
  font-family: "Poppins", sans-serif;
}
h4 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
}
a:hover,
a:link {
  color: rgb(255, 255, 255);
}
h1 {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h5 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
input:focus {
  color: lightcoral;
}
#destacado {
  color: black;
}