body {
    color: white;
    text-align: center;
    height: 100%;
    width: auto;
    margin: 0px;
}
header {
  background-image: url(img/ciudad.jpg);
  height: 100px;
  width: 100%;
  background-position: center;
  display: table;
}
.tarjeta {
  height: auto;
  width: auto;
  background: rgb(2,0,36);
  background: linear-gradient(149deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  border-radius: 20px;
  backdrop-filter: blur(16px) saturate(90%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  position: relative;
  padding: 0% 2% 2% 2%;
  display: inline-block;
  margin: 0px 10px 0px 10px;
}
.tarjeta:hover {
  box-shadow: 10px 5px 5px black;
}
.form {
  height: auto;
  width: 30%;
  background: rgb(7,85,1);
  background: linear-gradient(149deg, rgba(7,85,1,1) 0%, rgba(21,121,9,1) 35%, rgba(0,255,218,1) 100%);
  border-radius: 10px;
  border-color: lightcoral;
  border-style: solid;
  position: relative;
  padding: 2% 0% 2% 0%;
  margin: auto;
}
.img {
  height: 100px;
}
p {
  font-family: 'Alegreya SC', serif;
  color:black;
  font-size:3ex;
}
li {
  color: rgb(255, 255, 255);
  text-align: left;
  font-family: "Poppins", sans-serif;
}
h4 {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
}
a:hover, a:link {
    color: rgb(255, 255, 255);
}
h1 {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    display: table-cell;
    vertical-align: middle;
}
h5 {
  color:slategrey;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
#destacado {
  color:black;
}
input:focus {
  color: lightcoral;
}